@font-face {
  font-family: "League-Spartan";
  src: url("./assets/font/static/Outfit-Regular.ttf") format(truetype);
}
@font-face {
  font-family: "League-Spartan-Bold";
  src: url("./assets/font/static/Outfit-ExtraBold.ttf") format(truetype);
}
:root {
  --darkgray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --verydarkgray: hsl(0, 0%, 27%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League-Spartan", sans-serif;
}
body {
  font-size: 1rem;
  color: var(--verydarkgray);
  background-color: var(--white);
  width: clamp(64rem, 100%, 96.875rem);
  margin: auto;
}
main {
  min-height: 75vh;
}
.navigationSection {
  width: 55%;
  position: relative;
  background-image: var(--bgImgDesk);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navigationSection .controls {
  position: absolute;
  bottom: 0;
  right: -7rem;
}
.navigationSection .controls img {
  background-color: var(--black);
  padding: 1.45rem;
  width: 3.5rem;
}
header {
  width: 45%;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}
header section {
  width: 75%;
  margin: 0 12.5%;
}
header section p {
  margin: 1rem 0;
}
header section div {
  align-items: center;
  padding: 0.5rem 0;
  gap: 1rem;
}
a {
  text-decoration: none;
  color: var(--black);
}
h5 {
  text-transform: uppercase;
  letter-spacing: 0.35em;
  color: var(--black);
  font-family: "League-Spartan-Bold";
  font-weight: 900;
  font-size: 0.9rem;
}
span h5 {
  margin: 0 0 1rem 0;
}
nav {
  align-items: center;
  gap: 2.65rem;
  padding: 4rem 0 0 4rem;
  overflow: hidden;
  position: relative;
}
.furnitures {
  min-height: 40vh;
}
.furnitures div {
  width: 30%;
}
.furnitures div:nth-child(1) {
  background-image: url("./assets/images/image-about-dark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.furnitures div:nth-child(2) {
  width: 40%;
  padding: 2rem 3%;
  align-items: center;
}
.furnitures div:nth-child(3) {
  background-image: url("./assets/images/image-about-light.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10%;
}
.change,
li {
  cursor: pointer;
  position: relative;
}
li:hover {
  color: var(--white);
}
.sideBar {
  background-color: white;
  padding: 3rem 7%;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.sideBar ul {
  color: var(--black);
}
h1 {
  font-size: 2em;
}
h1,
h3 {
  color: var(--black);
}
ul {
  list-style: none;
  gap: 1rem;
  color: white;
}
.d-flex {
  display: flex;
}
.d-none,
.menu {
  display: none;
}
.d-block {
  display: block;
}
.sideBar {
  animation: sideBar 0.25s linear;
  transition: 0.5s;
}
@keyframes sideBar {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}
@media (max-width: 40rem) {
  .desktopNav {
    display: none !important;
  }
  .menu {
    display: block;
    position: absolute;
    left: 7%;
    cursor: pointer;
  }
  nav {
    gap: unset;
    justify-content: center;
    padding: 3rem 7%;
  }
  body {
    width: 100%;
  }
  header {
    width: 100%;
    padding: 2rem 7%;
  }
  main {
    flex-direction: column;
    min-height: unset;
  }
  .navigationSection {
    background-image: var(--bgImgMobile);
    min-height: 50vh;
    width: 100%;
  }
  .navigationSection .controls {
    right: 0;
  }
  header {
    min-height: 50vh;
  }
  header section {
    width: 100%;
    margin: unset;
  }
  .furnitures {
    flex-direction: column;
    padding: unset;
  }
  .furnitures div:nth-child(1),
  .furnitures div:nth-child(2),
  .furnitures div:nth-child(3) {
    width: 100%;
    padding: unset;
    min-height: 30vh;
  }
  .furnitures div:nth-child(2) {
    padding: 4rem 7%;
  }
}
@media (max-width: 65rem) {
  .navigationSection .controls {
    right: 0;
  }
}
